@model Project3_FinalExam.ViewModels.MinorsViewModel

<h2>@Model.Title</h2>

<div id="myMinors"></div>
@foreach (var minor in Model.Minors)
{
    <h3 id=@String.Concat("myHdng", minor.name)><b>@minor.title</b></h3>

    <div id=@String.Concat("myDiv", minor.name)>
        <p>@minor.title</p>
        <p>@minor.description</p>
        <p>Below are the courses in this minor:</p>
        <ul>
            @foreach (var conc in minor.courses)
            {
                <li>@conc</li>
            }
        </ul>
        <p><i>@minor.note</i></p>
    </div>
}


@*Get jQuery and jQueryUI scripts from wwwroot/lib*@
<script src="~/lib/jquery/dist/jquery.js"></script>
<link rel="stylesheet" href="~/lib/jqueryui/themes/humanity/jquery-ui.css">
<script src="~/lib/jqueryui/jquery-ui.js"></script>
<script>
    // Create accordion
    let headings = document.querySelectorAll("h3");
    let divs = document.querySelectorAll("[id^='myDiv']");

    for (var i = 0; i < headings.length; i++) {
        $("#myMinors").append($("#" + headings[i].id));
        $("#myMinors").append($("#" + divs[i].id));
    }

    $("#myMinors").accordion({
        collapsible: true,
        active: false,
        heightStyle: "content"
    });

</script>